RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_QUEUE=news
POLL_INTERVAL_SECONDS=300
NEWSFEEDS_PATH=newsfeeds.yaml

DB_HOST=localhost
DB_PORT=5432
DB_USER=newsreader
DB_PASS=newsreader
DB_NAME=news
